*.DS_Store
bin/
*.swp
.project
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/*
target/
.idea
.idea*
newssql.iml
reset
out/
META-INF/
/.metadata/
output/jscss
output/*.html
output/.htaccess
